---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate } from "@/utils";
import { experiences } from "./experiences";
import { designTeams } from "./designTeams";
import { projects } from "./projects";
import { books } from "./books";
import { courses } from "./courses";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section id="first">
		<h1 class="title mb-7 mt-5 text-4xl">नमस्ते</h1>

		<p class="mb-4">
			My name's Arpit. I am a computer science and mathematics student at the <a
				href="https://www.ubc.ca/"
				class="external-link">University of British Columbia</a
			>. Here I write about my explorations in topics that interest me - mainly system design
			principles, language-oriented programming and art. A lot on this site is still under
			construction.
		</p>
		<p class="mb-4">
			Find me on <a href="https://github.com/kumarpit" class="external-link">github</a>, <a
				href="https://www.linkedin.com/in/krarpit/"
				class="external-link">linkedIn</a
			>, and <a href="https://twitter.com/kumaaarpit" class="external-link">twitter</a>, or send me
			an <a href="mailto:kumar.arpit77@yahoo.com" class="external-link">email</a>.
		</p>
		<!-- <SocialList /> -->
	</section>
	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				experiences.map(({ href, title, org, desc }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<p class="min-w-[120px] text-gray-600 dark:text-gray-400">{desc}</p>
						<p>
							{title}
							<a href={href} target="_blank" rel="noopener noreferrer" class="external-link">
								@{org}
							</a>
						</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Engineering Design Teams @UBC</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				designTeams.map(({ title, desc, href }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<div class="min-w-[120px]">
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="external-link mb-2 inline-block sm:mb-0"
							>
								{title}
							</a>
						</div>
						<p>{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-10">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ title, desc, href }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<div class="min-w-[120px]">
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="external-link mb-2 inline-block sm:mb-0"
							>
								{title}
							</a>
						</div>
						<p>{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-10">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Bookshelf" class="mt-10">
		<h2 class="title mb-4 text-xl">What I'm reading</h2>
		<div class="space-y-4 sm:space-y-2">
			{
				books.map(({ name, author }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<p>
							{name}
							{/* <a href={href} target="_blank" rel="noopener noreferrer" class="external-link">
            @{org}
            </a> */}
						</p>
						<p class="min-w-[120px] text-gray-600 dark:text-gray-400">by {author}</p>
					</li>
				))
			}
		</div>
	</section>

	<section aria-label="Coursework" class="mt-10">
		<h2 class="title mb-4 text-xl">Coursework</h2>
		<ul class="flex flex-wrap gap-2">
			{
				courses.map(({ name, title, coursePage }) => (
					<li>
						<a
							class="course-link flex items-center justify-center rounded-lg p-1 text-sm hover:underline"
							href={coursePage}
						>
							{name}
						</a>
						<p class="course-name rounded-md border border-zinc-400 bg-bgColor">{title}</p>
					</li>
				))
			}
		</ul>
		<br />
		<p>*currently taking</p>
	</section>
</PageLayout>
